* {
    box-sizing: border-box;
}


.container {
    background-color: green;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    right: 6%;
    margin-bottom: 25px;
    color: white
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;


}

.title {
    margin: 0;
    text-align: center;
}

label {
    font-weight: bold;
}

.numberofcharacterscontainer {
    display: flex;
    align-items: center;
}

.number-input {
    width: 3rem
}

.generadodeclave {
    margin: 0;

}

.campos {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid #333;
    height: 2rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: .5rem;
}

.button {
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;

}



header {
    padding: 15px 2px 2px 2px;
    margin: 0 0 20px 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;



}

header .top-right {
    width: 15%;
    height: 5%;
    right: 4%;
    top: 2%;
    position: fixed;


}

.top-left img {
    width: 15vw;
    float: left;
}

header .top-left {
    width: 15%;
    height: 5%;
    left: 4%;
    top: 4%;
    position: fixed;

}



.edgroup {
    align-items: center;
    color: green;

}


.navigation {
    /* width: 300px; */
    list-style-type: none;
    margin-top: 20px;
}

.navigation a,
.btn-success {

    margin-bottom: 0px;
    background-color: green;
    color: white;
}

.links {
    margin-left: 60px;
    cursor: pointer;
    color: blue;
}

.d-flex {
    display: flex;
}

#containerholder {
    margin-top: 200px;
    margin-bottom: 50px;
}

input {
    color: black;
}

#currentDay {
    color: navy;
    font-size: 30px;
    margin-bottom: 10px;

}

.btn {
    width: 450px;
    font-size: 20px;
    margin-bottom: 25px;
}

.content,
.section {
    visibility: hidden;
    height: 0;
    margin-top: -30px;
}

.section-title {
    font-size: 20px;
    width: 450px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#backbutton {

    background-color: blue;
}

/* each with links and sections needs last link to have this class*/
.navigation li .lastlink {
    margin-bottom: -10px;
}

.navigation li {
    margin-bottom: 10px;
}